[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/doctest/doctest.git
[submodule "dependencies/benchmark"]
	path = dependencies/benchmark
	url = https://github.com/google/benchmark.git
[submodule "dependencies/logger"]
	path = dependencies/logger
	url = git@github.com:Quicr/logger.git
